<section class="catalog">
  <!-- APPS LIST -->
  <div class="catalog-search-input">
    <input type="text" class="form-control" placeholder="Search" ng-model="search" ng-change="hideCategories()"/>
  </div>
  <div class="catalog-browse" ng-show="isSearchInputEmpty">
    <div class="category" ng-repeat="category in categories">
      <div class="category-title">{{category.title}}</div>
      <ug-app class="app-small" model="app" has-fav-icon="true" ng-repeat="app in category.apps"></ug-app>
    </div>
  </div>

  <!-- SEARCH RESULT -->
  <div class="catalog-search-results" ng-show="!isSearchInputEmpty">
    <ug-app class="app-small" model="app" has-fav-icon="true"
            ng-repeat="app in filteredApps = (apps | filter:textFilter)"></ug-app>
  </div>
  <div class="catalog-search-no-results" ng-show="!filteredApps.length">{{'catalog.noresults' | translate}}</div>
</section>