<section class="catalog">
  <!-- APPS LIST -->
  <div class="catalog-search-input">
    <input type="text" class="form-control" placeholder="Search" ng-model="search" ng-change="hideCategories()"/>
  </div>
  <div class="catalog-browse" ng-show="isSearchInputEmpty">
    <div class="appcategory" ng-repeat="appCategory in appCategories">
      <div class="appcategory-title">{{appCategory.title}}</div>
      <brkfst-app model="app" ng-repeat="app in appCategory.apps"></brkfst-app>
    </div>
  </div>

  <!-- SEARCH RESULT -->
  <div class="catalog-search-results" ng-show="!isSearchInputEmpty">
    <brkfst-app model="app" ng-repeat="app in filteredApps = (apps | filter:textFilter)"></brkfst-app>
  </div>
  <div class="catalog-search-no-results" ng-show="!filteredApps.length">{{'catalog.noresults' | translate}}</div>
</section>