//Lodash
script(type='text/javascript', src='/libs/lodash/dist/lodash.js')

//jQuery and jQuery plugins
script(type='text/javascript', src='/libs/jquery/jquery.js')
script(type='text/javascript', src='/libs/jquery-ellipsis/dist/jquery.ellipsis.js')

//AngularJS
script(type='text/javascript', src='/libs/angular/angular.js')
script(type='text/javascript', src='/libs/angular-cookies/angular-cookies.js')
script(type='text/javascript', src='/libs/angular-resource/angular-resource.js')
script(type='text/javascript', src='/libs/angular-sanitize/angular-sanitize.js')
script(type='text/javascript', src='/libs/angular-animate/angular-animate.js')

//AngularJS UI
script(type='text/javascript', src='/libs/angular-bootstrap/ui-bootstrap.js')
script(type='text/javascript', src='/libs/angular-bootstrap/ui-bootstrap-tpls.js')
script(type='text/javascript', src='/libs/angular-ui-utils/ui-utils.js')
script(type='text/javascript', src='/libs/angular-ui-router/release/angular-ui-router.js')

//AngularJS application
script(type='text/javascript', src='/angular/dist/app.js')

//AngularJS plugins
script(type='text/javascript', src='/libs/restangular/dist/restangular.js')


if (process.env.NODE_ENV == 'development')
  //Do something