.DS_Store
.nodemonignore
.sass-cache/
node_modules/
public/libs
test/coverage/
public/angular/dist/
public/stylesheets/css/
public/fonts/fontello/css
public/fonts/fontello/font
config/ssl
.idea/
brkfst.iml