/**
 * CATEGORY module
 */
.category {
  clear: both;
}

.category-title {
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 300;
  font-size: 1.6em;
  color: darken(@headings-color, 30%);
}