.favgroup {
  clear: both;
  margin-bottom: 15px;
}

.favgroup-title {
  padding-top: 10px;
  font-weight: 300;
  font-size: 21px;
  color: darken(@headings-color, 30%);

  .ug-editable-text-input {
    font-weight: inherit;
    font-size: inherit;
  }
}

.favgroup-apps {
  overflow: hidden;
  padding-top: 3px;
  min-height: 30px;
}

.home .favgroup-title {
  margin-bottom: 8px;
}