.favgroup {
  clear: both;
  margin-bottom: 15px;
}

.favgroup-title {
  display: inline-block;
  position: relative;
  margin-top: 10px;
  padding-right: 30px;
  font-weight: 300;
  font-size: 21px;
  color: darken(@headings-color, 30%);

  .ug-editable-text-input {
    font-weight: inherit;
    font-size: inherit;
  }

  &:hover {
    .favgroup-action {
      display: inline;
    }
  }
}

.favgroup-action {
  position: absolute;
  display: none;
  cursor: pointer;
  color: @bf-action-icon-light-color;
}

.favgroup-action-delete {
  top: -10px;
  right: 0;
  font-size: 23px;
  line-height: 20px;
  &:hover {
    color: #cb000b;
  }
}

.favgroup-apps {
  overflow: hidden;
  padding-top: 3px;
  min-height: 30px;
}

.home .favgroup-title {
  margin-bottom: 8px;
}