/**
 * HEADER module
 */
.header {
  border-bottom: 1px solid lighten(@headings-color, 20%);
  margin-bottom: 14px;
  margin-top: -11px;
  position: relative;

  nav {
    min-height: 42px; //override bootstrap style
  }
}

.header-link {
  transition: all 0.6s ease;
  border-bottom: 3px solid white;
  @media (max-width: @screen-xs-max) {
    border-bottom: none;
  }
  font-size: ceil(@font-size-base*1.15);
  padding-top: 10px !important; // override bootstrap style
  padding-bottom: 10px !important; // override bootstrap style

  &.active {
    border-bottom: 3px solid @bf-primary-color;
    color: @bf-primary-color !important; // override bootstrap style
    @media (max-width: @screen-xs-max) {
      border-bottom: none;
    }
  }

  &:hover {
    transition: all 0.6s ease;
    border-bottom: 3px solid @bf-primary-color;
    color: @bf-primary-color !important; //override bootstrap style
    @media (max-width: @screen-xs-max) {
      border-bottom: none;
    }
  }
}