/**
 * HEADER module
 */
@import "../bootstrap-ext/mixins";

.header {
  border-bottom: 1px solid lighten(@headings-color,20%);
  margin-bottom: 14px;
  margin-top: -11px;
  position: relative;
}

.header-text {
  padding-right: 8px;
  position: relative;
  text-transform: uppercase;
  background-color: @brkfst-main-bg-color;
  bottom: -11px;
  font-size: 12px;
  font-weight: bold;
  color: @headings-color;
  display: inline-block;
}