extends auth

block auth
  form.signin.form-horizontal(action="/login", method="post")
    .control-group
      label.control-label(for='username') UniqueId
      .controls
        input#uniqueid(type='text', name="username", placeholder='UniqueId')

    .form-actions
      button.btn.btn-primary(type='submit') Sign in
