<section class="home row">

  <section class="fav col-md-6">
    <div class="actionmenu-left">
      <div class="dropdown-toggle">
        <i class="icon-ellipsis-vert"></i>
      </div>
      <ul class="dropdown-menu dropdown-menu-left" role="menu">
        <li><a ng-click="addFavgroup()">{{ 'home.actionmenu.addgroup' | translate }}</a></li>
      </ul>
    </div>

    <div class="favgroup" ng-repeat="favgroup in filteredFavgroups = (favgroups | orderBy:'[-isDefault,position]')"
         ng-controller="FavgroupCtrl">
      <div class="favgroup-title" ng-if="!favgroup.isDefault">
        <div class="favgroup-actionmenu actionmenu-right actionmenu-small">
          <div class="dropdown-toggle">
            <i class="icon-ellipsis-vert"></i>
          </div>
          <ul class="dropdown-menu dropdown-menu-left" role="menu">
            <li>
              <a ng-click="deleteFavgroup(favgroup)">
                <i class="actionmenu-icon icon-cancel"></i>
                <span class="actionmenu-title">{{ 'home.favgroup.actionmenu.remove' | translate }}</span>
              </a>
            </li>
            <li ng-show="favgroup.position > 0">
              <a ng-click="moveFavgroupUp(favgroup)">
                <i class="actionmenu-icon icon-up-dir"></i>
                <span class="actionmenu-title">{{ 'home.favgroup.actionmenu.up' | translate }}</span>
              </a>
            </li>
            <li ng-show="favgroup.position < (filteredFavgroups.length - 2)">
              <a ng-click="moveFavgroupDown(favgroup)">
                <i class="actionmenu-icon icon-down-dir"></i>
                <span class="actionmenu-title">{{ 'home.favgroup.actionmenu.down' | translate }}</span>
              </a>
            </li>
          </ul>
        </div>
        <ug-editable-text model="favgroup.title" on-save="updateFavgroupTitle(favgroup)"/>
      </div>
      <div class="favgroup-apps js-favgroup-apps-drop-container"
           ng-show="favgroup.apps.length > 0 || !favgroup.isDefault"
           id="favgroup_{{favgroup.id}}" ng-model="favgroup.apps"
           ui-sortable="sortableOptions">
        <ug-app class="app-large" id="app_{{app.id}}" ng-click="loadApp(app)" model="app" has-unfav-icon="true"
                ng-repeat="app in favgroup.apps"></ug-app>
      </div>
    </div>
  </section>
  <section class="appview col-md-6">
    <div class="appview-title">{{ loadedAppTitle }}</div>
    <div class="appview-icon"><img src="public/img/svg/{{loadedAppImageFileName}}.svg"/></div>
    <div class="appview-body">
      <iframe class="iframeplus" id="appview-iframe" data-dom-resize-listener="body" src="{{loadedAppUrl}}"
              frameborder="0"></iframe>
    </div>
  </section>
</section>