<section class="home row">

  <section class="fav" ng-class="{'bs-col-md-12':isPhone || isTablet, 'bs-col-md-6':isDesktop}">
    <div class="actionmenu-left">
      <div data-toggle="dropdown">
        <i class="icon-ellipsis-vert"></i>
      </div>
      <ul class="bs-dropdown-menu bs-dropdown-menu-left" role="menu">
        <li><a ng-click="addFavgroup()">{{ 'home.actionmenu.addgroup' | translate }}</a></li>
      </ul>
    </div>

    <div class="favgroup" ng-repeat="favgroup in filteredFavgroups = (favgroups | orderBy:'[-isDefault,position]')"
         ng-controller="FavgroupCtrl">
      <div class="favgroup-title" ng-if="!favgroup.isDefault">
        <div class="favgroup-actionmenu actionmenu-right actionmenu-small">
          <div data-toggle="dropdown">
            <i class="icon-ellipsis-vert"></i>
          </div>
          <ul class="bs-dropdown-menu bs-dropdown-menu-left" role="menu">
            <li>
              <a ng-click="activateFavgroupTitleEditMode()">
                <i class="actionmenu-icon icon-pencil"></i>
                <span class="actionmenu-title">{{ 'home.favgroup.actionmenu.edit' | translate }}</span>
              </a>
            </li>
            <li>
              <a ng-click="deleteFavgroup(favgroup)">
                <i class="actionmenu-icon icon-cancel"></i>
                <span class="actionmenu-title">{{ 'home.favgroup.actionmenu.remove' | translate }}</span>
              </a>
            </li>
            <li ng-show="favgroup.position > 0">
              <a ng-click="moveFavgroupUp(favgroup)">
                <i class="actionmenu-icon icon-up-dir"></i>
                <span class="actionmenu-title">{{ 'home.favgroup.actionmenu.up' | translate }}</span>
              </a>
            </li>
            <li ng-show="favgroup.position < (filteredFavgroups.length - 2)">
              <a ng-click="moveFavgroupDown(favgroup)">
                <i class="actionmenu-icon icon-down-dir"></i>
                <span class="actionmenu-title">{{ 'home.favgroup.actionmenu.down' | translate }}</span>
              </a>
            </li>
          </ul>
        </div>
        <ug-editable-text clickable="false" edit-mode="isFavgroupTitleEditable" model="favgroup.title"
                          on-save="updateFavgroupTitle(favgroup)"/>
      </div>
      <div class="favgroup-apps js-favgroup-apps-drop-container"
           ng-show="favgroup.apps.length > 0 || !favgroup.isDefault"
           id="favgroup_{{favgroup.id}}" ng-model="favgroup.apps"
           ui-sortable="sortableOptions">
        <ug-app class="app-large" id="app_{{app.id}}" ng-click="showApp(app)" model="app" has-unfav-icon="true"
                ng-repeat="app in favgroup.apps"></ug-app>
      </div>
    </div>
  </section>

  <!-- APPVIEW -->
  <ug-appview ng-if="!isPhone && !isTablet" class="bs-col-md-6"></ug-appview>

  <!-- MODAL APPVIEW -->
  <div ug-show-modal="isModalShown" class="bs-modal bs-fade">
    <div class="bs-modal-dialog">
      <div class="bs-modal-content">
        <ug-appview has-close-icon="true"></ug-appview>
      </div>
    </div>
  </div>
</section>