<section class="home">
  <div class="actionmenu">
    <div class="dropdown-toggle">
      <i class="icon-list-add"></i>
    </div>
    <ul class="dropdown-menu dropdown-menu-right" role="menu">
      <li><a href="#">{{ 'home.actionmenu.addgroup' | translate }}</a></li>
    </ul>
  </div>

  <div class="favgroup" ng-repeat="favgroup in favgroups | orderBy:'-isDefault'" ng-controller="FavgroupCtrl">
    <div class="favgroup-title" ng-if="!favgroup.isDefault">
      <ug-editable-text model="favgroup.title" on-save="updateFavgroupTitle(favgroup)"/>
    </div>
    <div class="js-favgroup-apps-drop-container favgroup-apps" id="favgroup_{{favgroup.id}}" ng-model="favgroup.apps"
         ui-sortable="sortableOptions">
      <ug-app class="app-large" id="app_{{app.id}}" model="app" has-unfav-icon="true"
              ng-repeat="app in favgroup.apps"></ug-app>
    </div>
  </div>
</section>